<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />

    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>New products page</h1>
    <ul>
      <li>
        <form action="/products" method="POST">
          Name: <input type="text" name="name" /><br />
          description: <input type="text" name="description" /><br />
          qty: <input type="number" name="qty" /><br />
          price: <input type="number" name="price" /><br />
          img: <input type="text" name="img" /><br />
          <input type="submit" name="" value="Create products" />
        </form>
      </li>
    </ul>
    <nav>
      <a href="/products">Back to products Index</a>
    </nav>
  </body>
</html>
