<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign In</h1>

    <form action="/sessions" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" />
      <input type="submit" value="Log In" />
    </form>

    <img
      src="https://29inth3cxa642murjs2o961f-wpengine.netdna-ssl.com/wp-content/uploads/2019/07/image-1.png"
      alt="HTML5 Icon"
      style="width:1600px;height:400px;"
    />
  </body>
</html>
